{{#is "post, page"}}
    {{#has tag="#affiliate"}}
        <div>
        If you buy through links on this page, Furrimals may earn an affiliate commission. <a href="https://furrimals.com/how-this-site-works/">Learn more.</a>
        </div>
    {{/has}}
{{/is}}
